ul{
    list-style-type: none;
    padding: 0px;
    margin: 50px, 50px, 50px, 50px;
    overflow: hidden;
    background-color: #444444;



}
li a {
    float: left;
    color: white;
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid block;
    min-width:60px;

}
li a:hover{
    background-color: #222222;
}